<html>
	<head>
		{% load static %}
		<link
			href="{% static 'css/calendarStyle.css' %}"
			rel="stylesheet"
			type="text/css"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap"
			rel="stylesheet"
		/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/calendar.js' %}" defer></script>   
		<title>{% block title %} {% endblock title %}</title>
	</head>
	<body></body>
	{% block body %} {% endblock body %}
</html>
